@page "/productos"
@rendermode InteractiveServer
@using Examen2PW.Components.Models
<h3>Productos</h3>
<EditForm Model="_producto" OnValidSubmit="Guardar" FormName="frmProducto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="mb-3">
        <label for="txtNombre" class="form-label">Nombre</label>
        <InputText class="form-control" id="txtNombre" @bind-Value="_producto.Nombre"/>
    </div>
    <div class="mb-3">
        <label for="txtInventario" class="form-label">Inventario</label>
        <InputText class="form-control" id="txtInventario" @bind-Value="_producto.Inventario"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Departamento</label><br />
        <InputRadioGroup @bind-Value="_producto.Departamento">
        <InputRadio class="form-check-input" Value=@("Frutas") id="txtDepartamento1" />
        <label for="txtDepartamento1" class="form-check-label">Frutas</label><br />

        <InputRadio class="form-check-input" Value=@("Verduras") id="txtDepartamento2" />
        <label for="txtDepartamento2" class="form-check-label">Verduras</label><br />

            <InputRadio class="form-check-input" Value=@("Lacteos") id="txtDepartamento3" />
        <label for="txtDepartamento3" class="form-check-label">Lácteos</label><br />
    </InputRadioGroup>   
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    
</EditForm>
<hr />
<h4>Productos registrados</h4>
@if (_productos.Count == 0)
{
    <p>No hay productos registrados</p>
}
else
{
    <div class="table">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Inventario</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in _productos)
                {
                    <tr>
                        <td>@p.Nombre</td>
                        <td>@p.Inventario</td>
                        <td>@p.Departamento</td>
                        <td>
                            <button type="button" class="btn btn-secondary" @onclick="()=> Eliminar(p)">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">

                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1
        .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0
        0 0 1 0z" />

                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0
        1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1
        1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />

                                </svg>
                            </button>
                        </td>
               
                    </tr>
                        }
            </tbody>
        </table>
    </div>
}
@code {
    private Producto _producto = new Producto();
    private List<Producto> _productos = new();
    private void Guardar()
    {
        _productos.Add(new Producto
            {
                Nombre = _producto.Nombre,
                Inventario = _producto.Inventario,
                Departamento = _producto.Departamento
            });
        _producto = new Producto();

    }
    private void Eliminar (Producto producto)
    {
        _productos.Remove(producto);
    }

}
